.configuration {
    margin: auto;
    max-width: 1280px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__button {
        font-weight: bold;
        text-decoration: none;
        color: var(--primary-color-text);
    }
}