<section class="configuration">
  <form class="configuration__form" [formGroup]="configurationForm">
    <p-dropdown [options]="engines" formControlName="engine" placeholder="Rodzaj Silnika" />
    <p-dropdown [options]="brands" formControlName="brand" placeholder="Marka" />
    <p-dropdown [options]="models" formControlName="model" placeholder="Model" />
  </form>
  <hr />
</section>
@if (selectedModel) {
<app-lawnmower-details [lawnmower]="selectedModel"></app-lawnmower-details>
}

<a class="configuration__button p-button" href="/order" (click)="proceedToOrder($event)">Proceed to order</a>