<section class="configuration">
  <h2 class="configuration__title">Wybierz kosiarkę!</h2>
  <form class="configuration__form" [formGroup]="configurationForm">
    <p-dropdown class="configuration__dropdown" styleClass="full-width" [options]="engines" formControlName="engine" placeholder="Rodzaj Silnika" />
    @if (brands$ | async; as brands) {
    <p-dropdown class="configuration__dropdown" styleClass="full-width" [options]="brands" formControlName="brand" placeholder="Marka" />
    }
    @if (models$ | async; as models) {
    <p-dropdown class="configuration__dropdown" styleClass="full-width" [options]="models!" formControlName="model" placeholder="Model" />
    }
  </form>
  @if (selectedLawnmower$ | async; as selectedLawnmower) {
  <app-lawnmower-details [lawnmower]="selectedLawnmower"></app-lawnmower-details>
  }

  <a class="configuration__button p-button" href="/order" (click)="proceedToOrder($event)">Dalej</a>
</section>