.lawnmower {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: var(--surface-overlay);
    border: 1px solid var(--surface-border);
    border-radius: var(--border-radius);
}