<section class="summary">
  <h2>Podsumowanie Zamówienia</h2>
  @if (orderData$ | async; as orderData) {
  <div class="summary__details">
    @if (orderData.lawnmower; as lawnmower) {
    <div>
      <h3 class="summary__section-title">Wybrana kosiarka:</h3>
      <app-lawnmower-details class="summary__lawnmower" [lawnmower]="lawnmower"></app-lawnmower-details>
    </div>
    }
    @if (orderData.orderDetails; as orderDetails) {
    <div class="summary__order">
      <div>
        <h3 class="summary__section-title">Szczegóły dostawy</h3>
        <app-data-tile>
          <div class="summary__property">
            <span>
              Rodzaj płatności:
            </span>
            <span>
              {{orderDetails.paymentType | getLabel : paymentTypes}}
            </span>
          </div>
          <div class="summary__property">
            <span>
              Rodzaj dostawy:
            </span>
            <span>
              {{orderDetails.deliveryType | getLabel : deliveryTypes}}
            </span>
          </div>
          @if (orderDetails.deliveryDate) {
          <div class="summary__property">
            <span>
              Data i godzina dostawy:
            </span>
            <span>
              {{orderDetails.deliveryDate | date : "YYYY-MM-dd hh:mm"}}
            </span>
          </div>
          }
        </app-data-tile>
      </div>
      <div>
        <h3 class="summary__section-title">
          Adres dostawy:
        </h3>
        <app-user-data [user]="orderDetails.deliveryAddress"></app-user-data>
      </div>
      <div>
        <h3 class="summary__section-title">Osoby upoważnione do używania kosiarki:</h3>
        <div class="summary__users">
          @for (user of orderDetails.recipients; track $index) {
          <app-user-data [user]="user"></app-user-data>
          }
        </div>
      </div>
    </div>
    }
  </div>
  }
  <div class="summary__nav-buttons">
    <a routerLink="/order" class="p-button">
      Cofnij
    </a>
    <p-button (onClick)="confirmOrder()" label="Zatwierdź"></p-button>
  </div>
</section>