.order {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    padding: 16px;
    margin: auto;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
    }

    &__radio-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }
}