.order {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    padding: 16px;
    margin: auto;
    gap: 32px;

    &__form,
    &__radio-group,
    &__allowed-users {
        display: flex;
        flex-direction: column;
    }

    &__form {
        gap: 32px;
    }

    &__columns,
    &__nav-buttons {
        display: flex;
        justify-content: space-between;
    }

    &__radio-group {
        justify-content: space-between;
        gap: 16px;
    }

    &__allowed-users {
        gap: 16px;
    }

    &__add-recipient-button {
        width: fit-content;
    }
}