<form class="recipient-form" [formGroup]="recipientForm()">
  @for (field of recipientFormData; track $index) {
  <div class="recipient-form__field">
    <p-floatLabel>
      @if (field.value !== 'zipCode') {
      <input class="recipient-form__input" pInputText type="text" [id]="field.value" [formControlName]="field.value" />
      }
      @else {
      <p-inputMask styleClass="full-width" [formControlName]="field.value" mask="99-999" placeholder="99-999" />
      }
      <label [for]="field.value">{{field.label}}{{field.isMandatory ? '*' : ''}}</label>
    </p-floatLabel>
    <app-form-error [control]="recipientForm() | dynamicForm : field.value" message="{{field.label}} jest obowiązkowym polem"></app-form-error>
  </div>
  }
  @if (showRemoveButton()) {
  <p-button (click)="removeRecipient(recipientForm().value.id)" label="Usuń użytkownika"></p-button>
  }
</form>