<form class="recipient-form" [formGroup]="recipientForm()">
  @for (field of recipientFormData; track $index) {
  <div class="my-2">
    <p-floatLabel>
      @if (field.value !== 'zipCode') {
      <input pInputText type="text" [id]="field.value" [formControlName]="field.value" />
      }
      @else {
      <p-inputMask [formControlName]="field.value" mask="99-999" placeholder="99-999" />
      }
      <label [for]="field.value">{{field.label}}{{field.isMandatory ? '*' : ''}}</label>

    </p-floatLabel>
    @if (recipientForm().get(field.value)?.invalid && recipientForm().get(field.value)?.touched) {
    <p class="form-error">{{field.label}} jest obowiązkowym polem</p>
    }
  </div>
  }
</form>