@use "../../../shared/media-queries.scss";

.recipient-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    &__input {
        width: 100%;
    }
}


@media (min-width: media-queries.$tablet-up) {
    .recipient-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__field {
            width: 45%;
        }
    }
}